.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 23px;
}

.orderBtns button:not(:first-child) {
  margin-left: 20px;
}

.contents {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 0 11px 0 rgba(105, 105, 105, 0.2);
  overflow: hidden;
}
